<template>
  <div>
    <h1>The Useless Box !</h1>
    <UselessBox class="uselessBox"/>
  </div>
</template>

<script>
import UselessBox from '@/components/UselessBox.vue'

export default {
  name: 'MainPage',
  components: {
    UselessBox
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1 {
    text-align: center;
    font-size: 3em;
    color: white;
  }
  .uselessBox {
    position:fixed;
    bottom: 0;
    width: 100%;
  }
</style>
