<template>
  <div>
    <div class="onBox">
      <div>
        <transition name="movepaw"
        v-on:after-enter="isOn=false">
          <div class="paw"
          v-if="isOn"/>
        </transition>
      </div>

      <div>
        <input type="checkbox"
        v-model="isOn">
      </div>
    </div>

    <div class="box"/>
  </div>
</template>

<script>

export default {
  name: 'UselessBox',

  data(){
    return {
      isOn: false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .paw {
    border: 1em solid #9E9E9E;
    border-top-left-radius: 100%;
    border-bottom: 0;
    border-right: 0;
    transform-origin: bottom right;
  }

  .movepaw-enter-active, .movepaw-leave-active {
    transition: transform 0.25s ease-out;
  }

  .movepaw-enter, .movepaw-leave-to {
    transform: rotate(-0.25turn);
  }

  .onBox div, .paw {
    width: 96px;
    height: 96px;
    z-index: 1;
  }

  .box {
    background-color: #37474F;
    width: 100%;
    height: 33vh;
    position: relative;
    z-index: 2;
  }

  .onBox {
    display: flex;
    justify-content: center;
  }
</style>
