<template>
  <div id="app">
    <MainPage class="page"/>
  </div>
</template>

<script>
import MainPage from './views/MainPage.vue'

export default {
  name: 'app',
  components: {
    MainPage
  }
}
</script>

<style>
#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: #263238;
  overflow-y:hidden;
  overflow-x:hidden
}
</style>
